<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/app.css">

    <title>StudiAri</title>
</head>

<body>
    <nav id="mainNavbar" class="navbar navbar-dark navbar-expand-md py-0 fixed-top">
        <a href="#" class="navbar-brand">STUDIARI</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#dictionary" class="nav-link">СЛОВАРЬ</a>
                </li>
                <li class="nav-item">
                    <a href="#books" class="nav-link">КНИГИ</a>
                </li>
                <li class="nav-item">
                    <a href="#order" class="nav-link">ЗАКАЗАТЬ</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="container-fluid px-0 topPic">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div id="headingGroup" class="text-white text-center d-none d-lg-block mt-5">
                    <h1 class=""><span>A todos los chicos<br> de los que<br>me enamoré</span></h1>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="imgs/poster.jpg" alt="">
            </div>
        </div>
    </section>

    <section class="container-fluid px-0">
       <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1" style="text-align:center">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/uTdqviLw-Rk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Cюжет книги</h2>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Привычная жизнь Лары Джин переворачивается с ног на голову, когда все письма, которые она писала своим возлюбленным, неожиданно попадают в руки к адресатам.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-12">
                <h1 class="header">Состав рассылки</h1>
            </div>
        </div>
        <a class="anchor" id="dictionary"></a>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="imgs/words.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>Словарик по книге</h2>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">В этом docx файле 750+ наиболее сложных испанских слов из книги с переводом на русский язык. Все слова сортированы по 72 главам.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="anchor" id="books"></a>
        <div class="row align-items-center content">
            <div class="col-md-6 text-center">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>PDF Книга 1</h2>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Вам будет предоставлена сама книга на испанском языке с выделенными словами, перевод которых можно найти в словарике из docx файла.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="imgs/markedbook.png" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-6 order-2 order-md-1">
                <img src="imgs/book.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                    <div class="col-10 col-lg-8 blurb mb-5 mb-md-0">
                        <h2>PDF Книга 2</h2>
                        <img src="imgs/lolli_icon.png" alt="" class="d-none d-lg-inline">
                        <p class="lead">Для тех, кого выделенные маркером слова могут отвлекать от чтения, есть дубликат книги без каких-либо выделений.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center content">
            <div class="col-md-12" style="text-align:center">
				<h1 class="header">Стоимость рассылки: 499 рублей</h1><br>
                <a href="/warning" class="orderBtn" id="order">Получить</a>
            </div>
        </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $("#mainNavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>
<footer>
	<div class="footer">
		<p>
			По всем вопросам: studiariweb@gmail.com
		</p>
	</div>
</footer>
</html>